.bg{
    -fx-background-image: url("assets/misc/sfondo_parquet.jpg");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}
.logo{
    -fx-background-image: url("assets/Publisher_material/Title2000x2000px.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}