.bg{
    -fx-background-image: url("assets/misc/base_pagina2.jpg");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}
.logo{
    -fx-background-image: url("assets/Publisher_material/Title2000x2000px.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.livingroom{
    -fx-background-image: url("assets/boards/livingroom.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.personalShelf{
     -fx-background-image: url("assets/boards/bookshelf.png");
     -fx-background-size: 100% 100%;
     -fx-background-position: center center;
}

