.bg{
    -fx-background-image: url("../assets/misc/base_pagina2.jpg");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}
.logo{
    -fx-background-image: url("../assets/publisher_material/Title2000x2000px.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.livingroom{
    -fx-background-image: url("../assets/boards/livingroom.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.personalShelf{
     -fx-background-image: url("../assets/boards/bookshelf.png");
     -fx-background-size: 100% 100%;
     -fx-background-position: center center;
}

.frame1{
    -fx-background-image: url("../assets/item_tiles/Cornici1.1.png");
     -fx-background-size: 100% 100%;
     -fx-background-position: center center;
}

.frame_image1{
    -fx-image: url("../assets/item_tiles/Cornici1.1.png");
}

.frame2{
    -fx-background-image: url("../assets/item_tiles/Cornici1.2.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.frame_image2{
    -fx-image: url("../assets/item_tiles/Cornici1.2.png");
}

.frame3{
    -fx-background-image: url("../assets/item_tiles/Cornici1.3.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.frame_image3{
    -fx-image: url("../assets/item_tiles/Cornici1.3.png");
}

.cat1{
    -fx-background-image: url("../assets/item_tiles/Gatti1.1.png");
     -fx-background-size: 100% 100%;
     -fx-background-position: center center;
}

.cat_image1{
    -fx-image: url("../assets/item_tiles/Gatti1.1.png");
}

.cat2{
    -fx-background-image: url("../assets/item_tiles/Gatti1.2.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.cat_image2{
    -fx-image: url("../assets/item_tiles/Gatti1.2.png");
}

.cat3{
    -fx-background-image: url("../assets/item_tiles/Gatti1.3.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.cat_image3{
    -fx-image: url("../assets/item_tiles/Gatti1.3.png");
}

.toy1{
    -fx-background-image: url("../assets/item_tiles/Giochi1.1.png");
     -fx-background-size: 100% 100%;
     -fx-background-position: center center;
}

.toy_image1{
    -fx-image: url("../assets/item_tiles/Giochi1.1.png");
}

.toy2{
    -fx-background-image: url("../assets/item_tiles/Giochi1.2.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.toy_image2{
    -fx-image: url("../assets/item_tiles/Giochi1.2.png");
}

.toy3{
    -fx-background-image: url("../assets/item_tiles/Giochi1.3.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.toy_image3{
    -fx-image: url("../assets/item_tiles/Giochi1.3.png");
}

.book1{
    -fx-background-image: url("../assets/item_tiles/Libri1.1.png");
     -fx-background-size: 100% 100%;
     -fx-background-position: center center;
}

.book_image1{
    -fx-image: url("../assets/item_tiles/Libri1.1.png");
}

.book2{
    -fx-background-image: url("../assets/item_tiles/Libri1.2.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.book_image2{
    -fx-image: url("../assets/item_tiles/Libri1.2.png");
}

.book3{
    -fx-background-image: url("../assets/item_tiles/Libri1.3.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.book_image3{
    -fx-image: url("../assets/item_tiles/Libri1.3.png");
}

.plant1{
    -fx-background-image: url("../assets/item_tiles/Piante1.1.png");
     -fx-background-size: 100% 100%;
     -fx-background-position: center center;
}

.plant_image1{
    -fx-image: url("../assets/item_tiles/Piante1.1.png");
}

.plant2{
    -fx-background-image: url("../assets/item_tiles/Piante1.2.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.plant_image2{
    -fx-image: url("../assets/item_tiles/Piante1.2.png");
}

.plant3{
    -fx-background-image: url("../assets/item_tiles/Piante1.3.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.plant_image3{
    -fx-image: url("../assets/item_tiles/Piante1.3.png");
}

.trophy1{
      -fx-background-image: url("../assets/item_tiles/Trofei1.1.png");
         -fx-background-size: 100% 100%;
         -fx-background-position: center center;
}

.trophy_image1{
    -fx-image: url("../assets/item_tiles/Trofei1.1.png");
}

.trophy2{
    -fx-background-image: url("../assets/item_tiles/Trofei1.2.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.trophy_image2{
    -fx-image: url("../assets/item_tiles/Trofei1.2.png");
}

.trophy3{
    -fx-background-image: url("../assets/item_tiles/Trofei1.3.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.trophy_image3{
    -fx-image: url("../assets/item_tiles/Trofei1.3.png");
}

.playerDialog {
    -fx-background-image: url("../assets/misc/base_pagina2.jpg");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}
.playerShelfDialog {
    -fx-background-image: url("../assets/boards/bookshelf.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}
